.*

!.github
!.editorconfig
!.flake8
!.travis.yml

/.git
*.py[co]
*~
*.egg-info
/dist
/build
/publish.log

/htmlcov/
coverage.xml

# Test project:
test_project_db.sqlite3
filer_public/
django_tools_test_project/media/*
!django_tools_test_project/media/.gitkeep
django_tools_test_project/static/*
!django_tools_test_project/static/.gitkeep

# Migration of test app are always generated on-the-fly, so ignore them:
django_tools_test_project/django_tools_test_app/migrations/*
!django_tools_test_project/django_tools_test_app/migrations/__init__.py


