.*

!.github
!.editorconfig
!.flake8
!.travis.yml

__pycache__

/media/
*~
/dist
/build
*.log

/htmlcov/
coverage.xml

# Migration of test app are always generated on-the-fly, so ignore them:
django_tools_test_project/django_tools_test_app/migrations/*
!django_tools_test_project/django_tools_test_app/migrations/__init__.py


