.*

!.github
!.editorconfig
!.flake8
!.isort.cfg
!.travis.yml

/.git
*.py[co]
*~
*.egg-info
/dist
/build
/publish.log

/coverage_html/
coverage.xml

/poetry.lock

# Test project:
test_project_db.sqlite3
filer_public/
django_tools_test_project/media/*
!django_tools_test_project/media/.gitkeep
django_tools_test_project/static/*
!django_tools_test_project/static/.gitkeep


