include MANIFEST.in
include AUTHORS
include LICENSE
include README.creole
include tox.ini

recursive-include django_tools *.py
recursive-include django_tools/templates *.html *.css *.js
recursive-include django_tools_test_project *.py
recursive-include django_tools_tests *.py

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude .tox *

include requirements-dev.txt
include requirements-test.txt

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
